@import url("https://fonts.google.com/specimen/Poppins");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "urbanist";
  src: url(../FONTS/Urbanist/Urbanist-VariableFont_wght.ttf);
}

.preloaderCover {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
}

.PrelaoderText1Animations {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 50px;
  animation: PrelaoderText1Animations 0.5s ease-in-out both infinite;
}
.PrelaoderText2Animations {
  font-family: "Poppins", sans-serif;
  color: red;
  font-weight: bold;
  font-size: 50px;
  animation: PrelaoderText2Animations 0.5s ease-in-out both infinite;
}

.preloader {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  transition: 0.5s ease-in-out;
}
.preloader.hide {
  display: none;
  transition: 0.5s ease-in-out;
}

@keyframes PrelaoderText1Animations {
  0% {
    color: white;
  }
  100% {
    color: red;
  }
}

@keyframes PrelaoderText2Animations {
  0% {
    color: red;
  }
  100% {
    color: white;
  }
}

/* Header Css */
.headerCover {
  /* background-color: rgba(0, 0, 0, 0.527); */
  background-color: transparent;
}

.indexTopImageCover {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.TrustedByIcons {
  width: 600px;
  height: 100px;
  position: absolute;
  bottom: -300px;
}

.IndexTopImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .IndexTopImage {
    width: 100%;
    height: 260px;
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
  }
}

.TopImageTrainingBtn {
  background-color: red;
  color: white;
  position: absolute;
  top: 80%;
  left: 9%;
  font-size: large;
  border: 0px white solid;
  padding: 0.8%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.TopImagePlayDemoBtn {
  background-color: transparent;
  color: white;
  position: absolute;
  top: 80%;
  left: 20%;
  font-size: large;
  border: 0px white solid;
  padding: 0.8%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.TopImageTrainingBtn:hover {
  background-color: white;
  color: red;
  transition: 0.2s ease-in;
}

.TopImagePlayDemoBtn:hover {
  color: red;
  transition: 0.2s ease-in;
}
.ExploreTextWhite {
  color: white;
  font-size: 50px;
  font-family: "FFont";
  font-weight: bold;
}
.ExploreTextWhite2 {
  color: white;
  font-size: 35px;
  font-family: "urbanist";
  font-weight: bold;
}

.FlexTopicText {
  color: white;
  font-size: 50px;
  font-family: "urbanist";
  font-weight: bolder;
}

.FlexCategoryTabs {
  background-color: #464242;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: 0.5s ease-in-out;
}

.FlexCategoryTabs:hover {
  background-color: #535151;
  color: white;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: 0.5s ease-in-out;
}

.FlexCategoryTabsActive {
  background-color: red;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.FlexCategoryTabsActive:hover {
  background-color: rgb(192, 42, 42);
  color: white;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
  .ExploreTextWhite2 {
    color: white;
    font-size: 25px;
    font-family: "urbanist";
    font-weight: bold;
  }
}

.ProgrammeExploreBtn {
  color: white;
  background-color: transparent;
  border-radius: 100%;
  font-size: 50px;
  transition: 0.3s ease-in-out;
}

/* Media Query */
@media screen and (max-width: 480px) {
  .TopImageTrainingBtn {
    background-color: red;
    color: white;
    position: absolute;
    top: 27%;
    left: 10%;
    font-size: small;
    border: 0px white solid;
    padding: 0.8%;
    border-radius: 5px;
    transition: 0.2s ease-in;
  }
  .TopImagePlayDemoBtn {
    background-color: transparent;
    color: white;
    position: absolute;
    top: 31%;
    left: 10%;
    font-size: smaller;
    border: 0px white solid;
    padding: 0.8%;
    border-radius: 10px;
    transition: 0.2s ease-in;
  }
  .ExploreTextWhite {
    margin-top: 20px;
    color: white;
    font-size: 25px;
    font-family: "urbanist";
    font-weight: bold;
  }
  .ProgrammeExploreBtn {
    margin-top: 20px;
    color: white;
    background-color: transparent;
    border-radius: 100%;
    font-size: 30px;
    transition: 0.3s ease-in-out;
  }
}

.ProgrammeExploreBtn:hover {
  color: white;
  background-color: red;
  border-radius: 100%;
  font-size: 50px;
  transition: 0.3s ease-in-out;
}
.indexListTickIcon {
  color: black;
  background-color: red;
  font-weight: bold;
  border-radius: 100px;
  font-size: 20px;
}

.Gents {
  background-color: white;
  color: gray;
  transition: 0.2s ease-in;
}
.Gents:hover {
  background-color: gray;
  color: white;
  transition: 0.2s ease-in;
}
.Gentsactive {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
}
.Gentsactive {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
}
.Gentsactive:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
  font-weight: bold;
  scale: 1.1;
}

.Ladies {
  background-color: white;
  color: gray;
  transition: 0.2s ease-in;
}

.Ladies:hover {
  background-color: gray;
  color: white;
  transition: 0.2s ease-in;
}

.Ladiesactive {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
}

.Ladiesactive:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
  font-weight: bold;
  scale: 1.1;
}

.Couple {
  background-color: white;
  color: gray;
  transition: 0.2s ease-in;
}
.Couple:hover {
  background-color: gray;
  color: white;
  transition: 0.2s ease-in;
}
.Coupleactive {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
}
.Coupleactive:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease-in;
  font-weight: bold;
  scale: 1.1;
}

.PriceListTickIcon {
  color: black;
  background-color: white;
  border-radius: 100px;
  font-size: 16px;
}
.PricingListBtn {
  background-color: #786f6a;
}
.minPricingListBtn {
  background-color: black;
}
.bestBanner {
  background-color: white;
  color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 5%;
  left: 40%;
}
.IndexSubscribeText {
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: "urbanist";
}

.SubscribeInput {
  font-size: large;
  color: black;
  border: 0px white solid;
  outline: none;
  margin-top: 10%;
  margin-left: 10px;
  margin-bottom: 10%;
}

.IndexJoinNowBtn {
  background-color: red;
  color: white;
  font-size: large;
  border: 0px white solid;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.IndexJoinNowBtn:hover {
  background-color: white;
  color: red;
  transition: 0.2s ease-in;
}

.IndexContactUsBtn {
  background-color: transparent;
  color: white;
  font-size: large;
  border: 0px white solid;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.IndexContactUsBtn:hover {
  color: white;
  transition: 0.2s ease-in;
  background-color: red;
}

.IndexJoinNowBtn2 {
  background-color: red;
  color: white;
  height: 40px;
  font-size: large;
  border: 0px white solid;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.PricingSwitchWhite {
  background-color: white;
  border-radius: 50px;
}

.JoinNowImageCover {
  background-color: red;
  position: relative;
}

.JoinNowFirstImageCover {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}

.JoinNowSecondImageCover {
  position: absolute;
  top: 100px;
  left: 220px;
  z-index: 2;
}

.JoinNowThirdImageCover {
  position: absolute;
  top: 265px;
  left: 140px;
  z-index: 2;
}
.transformPlanSmall {
  background-color: red;
}
.transformTextMargin {
  background-color: red;
}
@media screen and (max-width: 480px) {
  .SubscribeInput {
    font-size: xx-small;
    color: black;
    border: 0px white solid;
    outline: none;
    margin-top: 10%;
    margin-left: 10px;
    margin-bottom: 10%;
  }
  .transformTextMargin {
    background-color: red;
    margin-top: 500px;
  }
  .JoinNowFirstImageCover {
    position: absolute;
    top: 0px;
    left: 100px;
    z-index: 1;
  }
  .JoinNowSecondImageCover {
    position: absolute;
    top: 40px;
    left: 199px;
    z-index: 2;
  }
  .JoinNowThirdImageCover {
    position: absolute;
    top: 40px;
    left: 9px;
    z-index: 2;
  }
  .transformPlanSmall {
    margin-top: 900px;
    background-color: red;
  }
}

.FlexImage {
  width: 100px;
  height: 100px;
  transition: 0.2s ease-in-out;
}

.FlexImage:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}
.FlexImage2 {
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
}

.FlexImage2:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}

.FitnesFirstTextLogo {
  width: 1000px;
  height: auto;
  position: absolute;
  top: 130px;
  left: 15%;
  overflow: hidden;
  overflow-x: hidden;
  animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
}

@media screen and (max-width: 1326px) {
  .FitnesFirstTextLogo {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 14%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 1252px) {
  .FitnesFirstTextLogo {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 11%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 1172px) {
  .FitnesFirstTextLogo {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 9%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 1172px) {
  .FitnesFirstTextLogo {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 9%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 1024px) {
  .FitnesFirstTextLogo {
    width: 900px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 9%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}

@media screen and (max-width: 820px) {
  .FitnesFirstTextLogo {
    width: 700px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 9%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .FitnesFirstTextLogo {
    width: 670px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 9%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 430px) {
  .FitnesFirstTextLogo {
    width: 370px;
    height: auto;
    position: absolute;
    top: 170px;
    left: 10%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}

@media screen and (max-width: 412px) {
  .FitnesFirstTextLogo {
    width: 310px;
    height: auto;
    position: absolute;
    top: 170px;
    left: 10%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 412px) {
  .FitnesFirstTextLogo {
    width: 355px;
    height: auto;
    position: absolute;
    top: 170px;
    left: 9%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 375px) {
  .FitnesFirstTextLogo {
    width: 330px;
    height: auto;
    position: absolute;
    top: 170px;
    left: 10%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}
@media screen and (max-width: 360px) {
  .FitnesFirstTextLogo {
    width: 310px;
    height: auto;
    position: absolute;
    top: 170px;
    left: 9%;
    overflow: hidden;
    overflow-x: hidden;
    animation: FitnessFirtstLogoFirstAnimation 1s forwards ease-in-out;
  }
}

@keyframes FitnessFirtstLogoFirstAnimation {
  0% {
    opacity: 0;
    filter: blur(14px);
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.TrustedText {
  font-size: xx-large;
  font-weight: bold;
  color: gray;
}
.PrgrammeCategories {
  background-color: #464242;
  color: white;
  padding: 10px;
  font-size: large;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 0px transparent solid;
  transition: ease-in-out 0.5s;
}
.BMICalculateBtn {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: x-large;
  transition: 0.3s ease-in-out;
}

.BMICalculateBtn:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: x-large;
  transition: 0.3s ease-in-out;
}
.PrgrammeCategories:hover {
  background-color: #786f6a;
  color: white;
  padding: 10px;
  font-size: large;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px transparent solid;
  transition: ease-in-out 0.5s;
}

.SectionCover {
  color: white;
  font-weight: bold;
  align-self: center;
  backdrop-filter: blur(100px);
}
.SectionCover2 {
  color: white;
  font-weight: bold;
  align-self: center;
}

/* Body  */
.VirtualBMIROw {
  /* position: relative; */
  background-color: red;
}

.TourSection {
  background-color: gray;
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
  padding-bottom: 25px;
  padding-top: 25px;
  /* position: absolute;
  left: 0; */
}

.BMISection {
  background-color: red;
  color: white;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 25px;
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}
.TourText {
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.TourText:hover {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0px 0px 10px white, 0px 0px 20px white;
  cursor: pointer;
}

.AboutImageCover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutImage {
  box-shadow: 0px 0px 0px black;
  width: 350px;
  height: auto;
  transition: 2s ease-in-out;
}
.aboutImage.active {
  box-shadow: -12px 12px 0px red;
  width: 350px;
  height: auto;
}

.aboutTopicRed {
  color: rgb(164, 1, 1);

  font-weight: bolder ;
}

.aboutTopicwhite {
  color: white;
  /* font-weight: bold; */
}
.aboutPara {
  color: white;
}

.WhyPart {
  position: relative;
  /* margin: 5px; */
}

.whyImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
.whyImage:hover {
  /* width: 120%;
  height: 300px; */
  scale: 1.1;
}

.whyText {
  color: white;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 60px;
  /* left: 25%; */

  display: flex;
  justify-content: center;

  /* z-index: 2; */
  /* text-decoration: wavy; */
}

.QuoteBtn {
  color: white;
  background-color: red;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 16px;
  font-size: xx-large;
}

/* FOOTER */
.footerCover {
  background-color: black;
}
.footerTOpic {
  color: white;
  font-weight: bold;
}

.SocialIcons {
  color: red;
  font-size: large;
  padding: 5px;
  border: 2px solid white;
  background-color: white;
  border-radius: 20px;
}

/* ................................... */
.slider {
  /* width: 800px; */
  width: 100%;
  /* height: 500px; */
  /* height: 100vh; */
  border-radius: 10px;
  background-color: blue;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 700px;
  object-fit: fill;
}

/* css for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 450px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
}

.CarouselButton {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
}

/* .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
@font  margin-left: -60%;
} */

/* css for Automatic navigation */

@font-face {
  font-family: Alinas;
  src: url("FONTS/Montserrat-Italic-VariableFont_wght.ttf");
  src: url("../FONTS/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: Alinasi;
  src: url("FONTS/Montserrat-VariableFont_wght.ttf");
  src: url("../FONTS/Montserrat-VariableFont_wght.ttf");
}

.CarouselTextCover {
  position: absolute;
  left: 10%;
  top: 20%;
}
.CarouselTextCoversmall {
  position: absolute;
  left: 10%;
  top: 40%;
}

.partnerText {
  color: red;
  font-style: italic;
  font-size: 60px;
  font-weight: bolder;
  font-family: "Alinas";
  text-shadow: 0px 10px 10px black;
}

.partnerTextsmall {
  color: red;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Alinasi";
  text-shadow: 0px 10px 10px black;
}

.FITNESStext {
  color: white;
  font-size: 100px;
  font-weight: bolder;
  font-family: "Alinas";
}
.FITNESStextsmall {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Alinasi";
}

.redBoxBtn {
  background-color: red;
  color: white;
  font-size: xx-large;
  padding: 10px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
}

/* /////////////////////////////// */
.offsetStorieCarouselCover {
  background-color: blue;
  width: 50px;
  height: 50px;
}

.StoriesCarosuelSlider {
  width: 50px;
  position: relative;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  margin-top: 60px;
}

.StoriesCarosuelSlidersmall {
  width: 25px;
  position: relative;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  margin-top: 60px;
}

.StorieProfileImg {
  position: absolute;
  left: 40%;
  top: -55%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 50px;
}

.SStorieProfileImgsmall {
  position: absolute;
  left: 30%;
  top: -25%;
  width: 100px;
  height: auto;
  border: 2px solid white;
  border-radius: 50px;
}

.storiePara {
  margin-top: 50px;
  color: white;
}

/* ex================== */
.carouselStorieBackCOver {
  background-color: red;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.LeftSlideBtn {
  background-color: white;
  width: 10%;
  /* height: 500px; */
}

.rightSlideBtn {
  background-color: white;
  width: 10%;
  /* height: 500px; */
}

.Sslider {
  width: 80%;
  /* height: 500px; */
  background-color: blue;
  position: relative;
  display: grid;
  overflow: hidden;
}

.box11 {
  /* display: grid; */
  display: flex;
  background-color: black;
  overflow: hidden;
}

.BoxSlide {
  width: 100px;
  height: 100px;
  background-color: red;
}

/*  */
.firstBox {
  display: block;
  /* transition: 1s ease-in-out; */
  /* margin-left: -58%; */
}

.LRbtn {
  width: 50px;
  transition: 0.2s ease-in-out;
}
.LRbtn:hover {
  width: 50px;
  background-color: white;
  border-radius: 50px;
}

.LRbtnsmall {
  width: 25px;
  transition: 0.2s ease-in-out;
}
.LRbtnsmall:hover {
  width: 25px;
  background-color: white;
  border-radius: 50px;
}

/* SCROLING ANIMAITONS CSS */
.DownToUP {
  transform: translateY(50px);
  transition: 1s ease-in-out;
}
.DownToUP.active {
  transform: translateY(0px);
}

/* ------------- */
.UPToDown {
  transform: translateY(-100px);
  transition: 1s ease-in-out;
}
.UPToDown.active {
  transform: translateY(0px);
}

/* ------------- */
.LeftToRight {
  transform: translateX(-100px);
  transition: 1s ease-in-out;
}
.LeftToRight.active {
  transform: translateX(0px);
}

/* ------------- */
.RightToLeft {
  transform: translateX(100px);
  transition: 1s ease-in-out;
}
.RightToLeft.active {
  transform: translateX(0px);
}

/* ------------- */
.Fade {
  opacity: 0;
  /* backdrop-filter: blur(14px); */
  transition: 1s ease-in-out;
}
.Fade.active {
  opacity: 1;
  /* backdrop-filter: blur(0px); */
}

.Search-cover {
  width: 100%;
  height: 500px;
  background: url("../Resources/images/gym02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Blog-Search-text {
  color: white;
  font-size: 500%;
  font-family: "Alinasi";
  font-weight: bold;
}

.Blog-SearchIcon {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.Blog-SearchInput {
  border: 0px solid transparent;
  height: 80px;
}

.Blog-searchBtn {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 80px;
  border: 0px solid transparent;
}

.BlogCategoryImages {
  width: 100%;
  height: 200px;
  transition: 0.5s ease-in-out;
  object-fit: cover;
}

.BlogCategoryImages:hover {
  width: 100%;
  height: 200px;
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}

.BlogThmbnailTopic {
  font-size: xx-large;
  color: white;
}

/* classes css */
.Classes-cover {
  width: 100%;
  height: 300px;
  background: url("../Resources/images/gym02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.classesVideo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.Classes-AreaTopic {
  color: white;
  font-size: 500%;
  font-family: fantasy;
}

.ClassAreaImages {
  width: 100%;
  height: 550px;
  transition: 0.5s ease-in-out;
  object-fit: cover;
}
.ClassAreaImages:hover {
  width: 100%;
  height: 550px;
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}
.classenames {
  color: white;
  font-weight: bold;
  font-size: 500%;
  font-family: serif;
}

.ViewClassesArrow {
  color: white;
  font: lighter;
  font-size: larger;
  transition: 0.5s ease-in-out;
}

.ViewClassesArrow:hover {
  color: white;
  font: lighter;
  font-size: larger;
  margin-left: 20px;
}

.classImageCover {
  overflow: hidden;
  position: relative;
}

.blackImageCover {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
  transition: 2s ease-in-out;
}

.blackImageCover.active {
  margin-left: 100%;
}

.HeaderTabs {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
  cursor: pointer;
}

.HeaderTabs:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  cursor: pointer;
}

.HeaderTabs:hover:after {
  width: 100%;
  left: 0;
  cursor: pointer;
}

.facilitiyAboutText {
  font-size: 40px;
  font-family: "Alinasi";
}

.facilitieImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.FirstFadeUp {
  animation: FSFS 5.5s ease-in-out forwards;
}

@keyframes FSFS {
  0% {
    opacity: 0px;
  }
  100% {
    opacity: 1;
  }
}

.FirstDownToUPAnimation {
  animation: FirstDownToUPAnimation 1.5s ease-in-out;
}

@keyframes FirstDownToUPAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.FirstUpToDownAnimation {
  animation: FirstUpToDownAnimation 2.5s ease-in-out;
}

@keyframes FirstUpToDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* amasha css */
.adminBackground {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.AdminLoginCard {
  background-color: black;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 10px 10px 3px rgb(39, 37, 37);
}

.AdminTitle {
  color: rgb(251, 251, 252);
}

.AdminText {
  color: rgb(209, 206, 207);
}

.FlexTopRedBar {
  color: white;
  background-color: red;
}
.FlexTopRedBarTopic {
  color: white;
  font-weight: bold;
  font-family: "Alinasi";
}
.FlexLOGO {
  /* width: 120%;
  height: auto;
  transition: 0.5s ease-in-out; */
  backdrop-filter: blur(14px);
  transition: 0.5s ease-in-out;
}

.FlexLOGO.active {
  /* width: 70%;
  height: auto; */
  background-color: black;
}

.FlexLOGO:hover {
  background-color: rgba(0, 0, 0, 0.411);
  box-shadow: 10px 10px 100vh black;
  box-shadow: -10px -10px -100vh black;
}

.FlexHeadrTab {
  font-style: normal;
  transition: 0.1s ease-in-out;
  color: white;
}
.FlexHeadrTab:hover {
  font-style: italic;
  color: red;
  text-decoration: line-through;
  text-decoration: underline;
  scale: 1.2;
}

.FlexHomeImageLargeScreens {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.FlexHomeImage {
  width: 100%;
  height: 500px;
  object-fit: contain;
  transition: 0.5s ease-in-out;
}

.FlexHomeImagecatelog {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.HomeImageTextButtonCover {
  position: absolute;
  bottom: 25%;
  font-weight: bold;
  color: white;
}
.FlexCatouselText {
  font-size: xxx-large;
  font-weight: bold;
  color: white;
}
.ShopNowBtn {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
  transition: 0.5s ease-in-out;
}
.ShopNowBtn:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
}

.HomeProductViewCover {
  width: 90%;
  display: flex;
  justify-content: center;
}

.CatelogProductViewCover {
  width: 90%;
  display: flex;
  background-color: white;
  justify-content: center;
}

.FlexProductCard {
  width: 100%;
  height: 500px;
  border: 2px white solid;
  transition: 0.3s ease-in-out;
}

/* Media Query */
@media screen and (min-width: 480px) {
}

.FlexProductCard:hover {
  transform: translateY(-10px);
}

.FlexProductCard:hover .ViewProductButtonText {
  transition: 0.5s ease-out;
}

.FlexProductCard:hover .FlexProductImage2 {
  z-index: 2;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  /* transition: 1s ease-in-out; */
}

.ProductImageCover {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.ProductFirstImageCover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexProductImage1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 30px;
  z-index: 2;
}

.ProductSecondImageCover {
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.FlexProductImage2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 30px;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
  .FlexProductImage1 {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 30px;
    z-index: 2;
  }

  .FlexProductImage2 {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 30px;
    z-index: 1;
  }
  .FlexProductCard {
    height: 350px;
  }
}

.ViewProductButton {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ViewProductButton2 {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  background-color: black;
  transition: 0.5s ease-in-out;
}
.ViewProductButton2 :hover {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  background-color: white;
  color: black;
}

.ViewProductButton:hover {
  transition: 0.5s ease;
  /* background-color: white; */
}

.ViewProductButton:hover .ViewProductButto2 {
  transition: 1s ease;
  transform: translateY(0%);
}

.ViewProductButto2 {
  transition: 1s ease-in-out;
  width: 100%;
  height: 50px;
  background-color: red;
  border: 1px solid white;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ViewProductButtonText {
  color: white;
  font-weight: bold;
  z-index: 2;
}

.cartProductImage {
  width: 100%;
  height: auto;
}

.CheckoutCover {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cartCheckoutBtn {
  background-color: white;
  color: black;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ContactSendBtn {
  background-color: white;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  margin-top: 50px;
  transition: 0.2s ease-in-out;
}
.ContactSendBtn:hover {
  background-color: red;
  color: white;
  transition: 0.2s ease-in-out;
}

.SingleProductViewImage {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
.SmallSingleProductViewImage {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.SingleProductViewBtn {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s ease-in-out;
}

.SingleProductViewBtn:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
  font-size: large;
}

.QTYUdt {
  color: white;
  font-weight: bold;
}

.QTYUdt:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.PHistory {
  color: gray;
  font-weight: lighter;
  font-size: xx-small;
}
.PHistory:hover {
  color: red;
  font-weight: bold;
  font-size: xx-small;
  cursor: pointer;
}

/* Carousel Css (Explore Programme) */
.EnergyDrinkSmallSceenCarousel {
  display: flex;
  width: 100%;
  transition: 0.5s ease-in-out;
}

@font-face {
  font-family: FFont;
  src: url("../FONTS/BebasNeue-Regular.ttf");
}

.EventListText {
  font-size: 100px;
  color: black;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
  font-family: "FFont";
  transition: 0.5s ease-in-out;
}
.EventListText2 {
  font-size: 100px;
  color: black;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
  font-family: "FFont";
  transition: 0.5s ease-in-out;
}

.EventImage {
  background-image: url("../Resources/images/carouselImages/1.jpeg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}

.findGymBox {
  position: relative;
  transition: 0.5s ease-in-out;
}

.findGymImage {
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.findGymText {
  position: absolute;
  top: 0;
  transition: 0.5s ease-in-out;
}

.GymFOnt {
  font-family: "FFont";
  line-height: 0.8;
}

.SupplimentBOX {
  width: 100%;
  height: 250px;
  background-position: top;
  background-size: cover;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.supplimentBOXOVERLAY {
  width: 100%;
  height: 250px;
  font-family: "FFont";
  font-size: xx-large;
  transition: 0.5s ease-in-out;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8379726890756303) 44%,
    rgba(0, 0, 0, 0) 100%
  );
}

.BLOGBOXOVERLAY {
  width: 100%;
  height: 250px;
  font-family: "FFont";
  font-size: xx-large;
  transition: 0.5s ease-in-out;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    266deg,
    rgba(0, 0, 0, 0.8379726890756303) 44%,
    rgba(0, 0, 0, 0) 100%
  );
}

.FlexButtonDIV {
  width: 100%;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.supplimentRow {
  position: absolute;
  left: -53%;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s ease-in-out;
}
.BLOGRow {
  position: absolute;
  left: 53%;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s ease-in-out;
}

.flexShoppingButton {
  background-color: red;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-family: "FFont";
  border: 0px solid transparent;
  font-size: xx-large;
  transition: 0.5s ease-in-out;
}

.BlogBOX {
  width: 100%;
  height: 235px;
  background-position: top;
  background-size: cover;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.GymLocationText {
  font-family: "FFont";
  color: white;
  font-size: 35px;
  transition: ease-in-out 0.5s;
}

.GymLocationText:hover {
  font-family: "FFont";
  color: red;
  font-size: 50px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.hoverslideImages {
  font-size: xx-large;
  opacity: 0;
  font-family: "FFont";
  transition: 0.5s ease-in-out;
}

/* ////////////////////////////// */
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-offer-block {
  padding: 50px 0 90px;
}
.ag-offer_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ag-offer_item {
  width: 33.33%;

  overflow: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
.ag-offer_item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  border-top: 1px solid #c1c1c1;
}
.ag-offer_item:not(:nth-child(3n)) {
  border-right: 1px solid #c1c1c1;
}
.ag-offer_item:nth-child(1) .ag-offer_hidden-item {
  background-color: #e45f0a;
}
.ag-offer_item:nth-child(2) .ag-offer_hidden-item {
  background-color: #ffca00;
}
.ag-offer_item:nth-child(3) .ag-offer_hidden-item {
  background-color: #15c1c1;
}
.ag-offer_item:nth-child(4) .ag-offer_hidden-item {
  background-color: #008000;
}
.ag-offer_item:nth-child(5) .ag-offer_hidden-item {
  background-color: #8c7b00;
}
.ag-offer_item:nth-child(6) .ag-offer_hidden-item {
  background-color: #000080;
}
.ag-offer_item:hover .ag-offer_visible-item {
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.ag-offer_visible-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 35px 40px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: 0.4s 0.3s;
  -moz-transition: 0.4s 0.3s;
  -o-transition: 0.4s 0.3s;
  transition: 0.4s 0.3s;
}
.ag-offer_img {
  height: 64px;
  width: 64px;
  margin: 0 15px 0 0;
}
.ag-offer_title {
  font-size: 22px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ag-offer_hidden-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 30px;

  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transform: rotate(180deg) scale(0);
  -moz-transform: rotate(180deg) scale(0);
  -ms-transform: rotate(180deg) scale(0);
  -o-transform: rotate(180deg) scale(0);
  transform: rotate(180deg) scale(0);

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ag-offer_item:hover .ag-offer_hidden-item {
  opacity: 1;

  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);

  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.ag-offer_text {
  max-width: 100%;

  opacity: 0;

  font-size: 18px;
  color: #fff;
  font-family: "FFont";

  -webkit-transition: 0.3s 0.5s;
  -moz-transition: 0.3s 0.5s;
  -o-transition: 0.3s 0.5s;
  transition: 0.3s 0.5s;
}
.ag-offer_item:hover .ag-offer_text {
  opacity: 1;
}
.ag-offer_btn {
  display: block;
  padding: 10px 20px;
  border: 2px solid #fff;

  position: absolute;
  top: 50%;
  left: 50%;

  white-space: nowrap;
  font-size: 25px;
  color: #fff;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-offer_btn:hover {
  border: 2px solid #0000d1;
  background-color: #fff;

  text-decoration: none;
  color: #0000d1;
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-offer_item {
    width: 100%;
    margin: 0 0 30px;
    border: 0 none !important;
    border-bottom: 1px solid #c1c1c1 !important;
  }
  .ag-offer_visible-item {
    padding: 0 20px 30px;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .ag-offer_item:hover .ag-offer_visible-item {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .ag-offer_hidden-item {
    padding: 0 20px 20px;

    opacity: 1;

    position: static;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
    background-color: transparent;
  }
  .ag-offer_item:hover .ag-offer_text {
    opacity: 1;
  }
  .ag-offer_title {
    font-weight: bold;
    font-family: "FFont";
  }
  .ag-offer_text {
    opacity: 1;

    font-size: 18px;
    color: white;
  }
  .ag-offer_btn {
    border: 2px solid #0000d1;
    background-color: #000080;

    position: static;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 639px) {
}

@media only screen and (max-width: 479px) {
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
}
